/* Search Container Styles */

.cont-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}
.cont-search label {
  font-size: 1.5rem;
}
#search-input {
  width: 14rem;
  height: 1.5rem;
  font-size: 0.95rem;
  padding: 0.5rem;
  margin: 0 0.3rem;
  border: 0.06rem solid rgb(66, 65, 65);
}
#search-input:focus {
  border: none;
}
.search-btn {
  padding: 0 0.3rem;
  border: 1px solid black;
  border-radius: 0.02rem;
  cursor: pointer;
  text-align: center;
}

/* Dropdown Styles */

.cont-dropdowns {
  display: flex;
}
.cont-race {
  display: none;
}

/* Cards Container Styles */

#cards-container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.96rem;
  padding: 4rem;
  margin: 0 auto;
  justify-content: center;
}

/* Card Styles */

.card {
  text-align: center;
  padding: 0.29rem;
  border-radius: 0.012rem;
}
.image {
  width: 4.7rem;
  margin: 0 auto;
  cursor: pointer;
}
.image:hover {
  box-shadow: 2px 4px 46px 3px rgba(0, 0, 0, 0.22);
  transform: scale(1.05);
  transition: ease 0.7s;
}
.image img {
  width: 100%;
}

/* Modal Styles */

#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
#modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}
.modal-btn {
  position: absolute;
  top: 0;
  right: -4rem;
  width: 2rem;
  height: 2rem;
  color: red;
  cursor: pointer;
}
.modal-img {
  width: 100%;
}

.arrow {
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
}

.arrow-left {
  top: 45%;
  left: -5rem;
}

.arrow-right {
  top: 45%;
  right: -5rem;
}
/* Page Button Container Styles */

#cont-btns-pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Page Button Style */

.page-button {
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  margin: 0 0.09rem;
  border-radius: 50%;
  border: 1px solid rgb(133, 130, 130);
  min-width: 1.9rem;
  cursor: pointer;
}
.page-button:hover {
  transform: rotate(360deg);
  transition: 0.7s;
}

/* Cards Container Media Queries */

@media screen and (min-width: 450px) {
}
@media screen and (min-width: 600px) {
  #cards-container {
    grid-template-columns: repeat(5, 1fr);
  }
  .image {
    width: 6.5rem;
  }
}

@media screen and (min-width: 900px) {
  .image {
    width: 10rem;
  }
  #cards-container {
    grid-template-columns: repeat(5, 1fr);
  }
  #modal-container {
    width: 25rem;
  }
}
